@page "{Id:int:min(1)}"
@using App.UI.Configurations

@model App.UI.Pages.customer.book_detailsModel
@{
    ViewBag.Title = "Book-Details page";
    Layout = "/Pages/Shared/CustomerLayout.cshtml";
}
<link rel="stylesheet" href="/css/CustomerCssFiles/cbookdesc.css">
<section class="bookdesc">

    <div class="container ">
        <div class="row">

            <div class=" col-md-4 coverbook">
                <img src="@Model.BookDetails.PhotoPath" alt="">
            </div>


            <div class=" col-md-8 content">

                <h1 class="bookname"> @Model.BookDetails.Name </h1>



                <div class="price">@Model.BookDetails.BookPriceAfterDiscount <span>@Model.BookDetails.Price</span></div>


                <div class="stars">
                    <span class="rate"> Rate of book : </span>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>



                <div class="about">

                    <h2> About book </h2>
                    <p class="description">
                        @Model.BookDetails.Description
                    </p>

                </div>



            </div>


        </div>

        <div class="butns">

            <a href="#" class="btnt">add to cart</a>
            <a href="#" class="btnt">Read Sample</a>
            <a href="#" class="icon"><i class="fa-regular fa-heart-circle-plus"></i>   Add to watchlist</a>



        </div>





    </div>

</section>

<section class="aboutauthor">

    <div class="about">
        <h1 class="heading"> <span>About Author</span> </h1>
    </div>

    <div class="cont">
        <a class="card" href="">
            <div class="row">
                <div class="icon-container">
                    <div class="loading-icon">
                        <img src="@Model.BookDetails.AuthorPhotoPath" alt="">
                    </div>
                </div>
                <div class="description">
                    <div class="name">@Model.BookDetails.AuthorName</div>

                </div>
            </div>

        </a>
    </div>

</section>





<!-- similar section starts  -->

<section class="similar" id="similar">

    <h1 class="heading"> <span>Most selling books</span> </h1>

    <div class="swiper similar-slider">

        <div class="swiper-wrapper">
            @foreach (var Book in Model.MostSellingBooks)
            {
                <div class="swiper-slide box">
                    <div class="icons">
                        <a href="/@Global.UrlName/book-details/@Book.Id" class="fas fa-search"></a>

                    </div>
                    <div class="image">
                        <img src="@Book.PhotoPath" alt="">
                    </div>
                    <div class="content">
                        <h3>@Book.Name</h3>
                        <div class="price">$@Book.BookPriceAfterDiscount <span>$@Book.Price</span></div>
                        <a href="#" class="btnt">add to cart</a>
                    </div>
                </div>
            }




        </div>

        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>

    </div>

</section>

<!-- similar section ends -->
<!-- Trend section starts  -->

<section class="Trend" id="Trend">

    <h1 class="heading"> <span>Trend books</span> </h1>

    <div class="swiper Trend-slider">

        <div class="swiper-wrapper">

            <div class="swiper-slide box">
                <div class="icons">
                    <a href="#" class="fas fa-search"></a>
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="fas fa-eye"></a>
                </div>
                <div class="image">
                    <img src="~/assets/images/book3.png" alt="">
                </div>
                <div class="content">
                    <h3>Trend books</h3>
                    <div class="price">$15.99 <span>$20.99</span></div>
                    <a href="#" class="btnt">add to cart</a>
                </div>
            </div>



        </div>

        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>

    </div>

</section>

<!-- Trend section ends -->
