@page "{Id:int:min(1)}"
@model App.UI.Pages.customer.exchange_book_detailsModel
@{
    ViewBag.Title = Model.BookDetails.Name.ToUpper() + " Book Details";
    Layout = "/Pages/Shared/CustomerLayout.cshtml";
}
<link rel="stylesheet" href="/css/CustomerCssFiles/cbookdesc.css">
<input type="hidden" value="@Model.BookDetails.ExchageBookId" id='bookId'>
<section class="bookdesc">

    <div class="container ">
        <div class="row">

            <div class=" col-md-4 coverbook">
                <img src="@Model.BookDetails.PhotoPath" alt="">
            </div>


            <div class=" col-md-8 content">

                <h1 class="bookname"> @Model.BookDetails.Name </h1>



              
                <div class="stars">
                    <span class="rate"> Rate of book : </span>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>



                <div class="about">

                    <h2> About book </h2>
                    <p class="description">
                        @Model.BookDetails.Description
                    </p>

                </div>



            </div>


        </div>

        <div class="butns">
            <a href="#" class="btnt cart-btn" id="btn">add to cart</a>
            <a href="#" class="btnt">Read Sample</a>
            <a href="#" class="icon"><i class="fa-regular fa-heart-circle-plus"></i>   Add to watchlist</a>







        </div>






    </div>

</section>

<section class="aboutauthor">

    <div class="about">
        <h1 class="heading"> <span>About Author</span> </h1>
    </div>

    <div class="cont">
        <a class="card" >
            <div class="row">
                <div class="icon-container">
                    <div class="loading-icon">
                    </div>
                </div>
                <div class="description">
                    <div class="name">@Model.BookDetails.AuthorName</div>

                </div>
            </div>

        </a>
    </div>

</section>

<!-- Recommended section starts  -->
<section class="Trend" id="Trend">

    <h1 class="heading"> <span>Recommended For You</span> </h1>

    <div class="swiper Trend-slider">

        <div class="swiper-wrapper">
            @foreach (var book in Model.recomendedBooks)
            {
                <div class="swiper-slide box">
                    <div class="icons">
                        <a href="#" class="fas fa-search"></a>

                    </div>
                    <div class="image">
                        <img src="~/assets/images/book3.png" alt="">
                    </div>
                    <div class="content">
                        <h3>@book.Book.Name</h3>
                        <div class="price">$15.99 <span>$20.99</span></div>
                        <a href="#" class="btnt">add to cart</a>
                    </div>
                </div>
            }





        </div>

        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>

    </div>

</section>
