@page "/exchange/book-details/{Id:int:min(1)}"
@using App.UI.Configurations
@using Microsoft.AspNetCore.Identity
@using SharedTenant.Domain

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@model App.UI.Pages.customer.exchange_book_detailsModel
@{
    ViewBag.Title = Model.BookDetails.Name.ToUpper() + " Book Details";
}
<link rel="stylesheet" href="/css/CustomerCssFiles/cbookdesc.css">
<link rel="stylesheet" href="/limonte-sweetalert2/sweetalert2.css">
<input type="hidden" value="@Model.BookDetails.ExchageBookId" id='bookId'>
<section class="bookdesc">

    <div class="container ">
        <div class="row">

            <div class=" col-md-4 coverbook">
                <img src="@Model.BookDetails.PhotoPath" alt="">
            </div>


            <div class=" col-md-8 content">

                <h1 class="bookname"> @Model.BookDetails.Name </h1>


                <div class="stars">
                    <span class="rate"> Rate of book : </span>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                    <br />
                    <p></p>
                </div>


                <div class="own">
                    <div class="element">
                        <span>Owner Email : </span>
                        <span class="owner">  @Model.OwnerName  </span>
                    </div>
                    <div class="element">
                        <span>Phone : </span>
                        <span class="phone">   @Model.OwnerPhoneNum </span>

                    </div>

                </div>


                <div class="about">

                    <h2> About book </h2>
                    <p class="description">
                        @Model.BookDetails.Description
                    </p>

                </div>

                <div class="about">
                    <h2> book categories </h2>
                    @foreach (var item in Model.BookCategories)
                    {
                        <a href="#" class="btnt cart-btn" id="btn">@item.Categroy.CategoryName</a>

                    }

                </div>

            </div>
            

        </div>
        <br />
        <br />

            <div class="butns">
                @if (SignInManager.IsSignedIn(User))
                {




                    @if (Model.wishid == 0)
                    {
                        <a href="#" class="icon" id="btnwish"><i class="fa-regular fa-heart-circle-plus"></i>   Add to your watchlist</a>
                    }
                    else
                    {
                        <a href="/my/wishlist/@Model.wishid" id="btnwishREMOVE" class="icon"><i class="fa-regular fa-heart-circle-minus"></i>   Remove From your watchlist</a>

                    }

                }
                else
                {
                    <a href="#" class="icon" id="btnwish2"><i class="fa-regular fa-heart-circle-plus"></i>   Add to watchlist</a>

                }
                @if (!string.IsNullOrEmpty(Model.BookDetails.AduioUrl))
                {
                    <audio controls>

                        <source src="/audio/books/@Model.BookDetails.AduioUrl" type="audio/mpeg">

                    </audio>
                }








            </div>






        </div>

</section>

<section class="aboutauthor">

    <div class="about">
        <h1 class="heading"> <span>About Author</span> </h1>
    </div>

    <div class="cont">
        <a class="card">
            <div class="row">
                <div class="icon-container">
                    <div class="loading-icon">
                    </div>
                </div>
                <div class="description">
                    <div class="name">@Model.BookDetails.AuthorName</div>

                </div>
            </div>

        </a>
    </div>

</section>

<section class="Trend" id="Trend">

    <h1 class="heading"> <span>Books from same category</span> </h1>

    <div class="swiper Trend-slider">
        @if (Model.BooksBasedOnCategory.Count != 0)
        {<div class="swiper-wrapper">
                @foreach (var item in Model.BooksBasedOnCategory)
                {

                    <div class="swiper-slide box">
                        <div class="icons">
                            <a href="/exchange/book-details/@item.Book.ExchageBookId" class="fas fa-search"></a>
                        </div>
                        <div class="image">
                            <a href="/exchange/book-details/@item.Book.ExchageBookId">
                                <img src="/photos/books/@item.Book.Photo" alt="">
                            </a>
                        </div>
                        <div class="content">
                            <a href="/exchange/book-details/@item.Book.ExchageBookId">

                                <h3>@item.Book.Name</h3>
                            </a>
                            <a href="/exchange/book-details/@item.Book.ExchageBookId" class="btn" style=" width: -webkit-fill-available;">DETAILS</a>
                        </div>
                    </div>

                }




            </div>


<div class="swiper-button-next"></div>


<div class="swiper-button-prev"></div>
        }
        else { 
    <center>
        <h1 style="font-size: xxx-large; color: #114766">Books Not Available Yet</h1>
        <h2>Please Wait Until We Recieve New Books</h2>

    </center>
        }


    </div>

</section>

<!-- Recommended section starts  -->
<section class="Trend" id="Trend">

    <h1 class="heading"> <span>Recommended For You</span> </h1>

    <div class="swiper Trend-slider">
        @if (SignInManager.IsSignedIn(User))
        {
            if (Model.recommenedBooksManger.CustomerRegisterFavouriteCategories(UserManager.GetUserId(User)))
            {
                if (Model.recomendedBooks.Count != 0)
                {
                    <div class="swiper-wrapper">
                        @foreach (var item in Model.recomendedBooks)
                        {

                            <div class="swiper-slide box">
                                <div class="icons">
                                    <a href="/exchange/book-details/@item.BookId" class="fas fa-search"></a>
                                </div>
                                <div class="image">
                                    <a href="/exchange/book-details/@item.BookId">
                                        <img src="/photos/books/@item.Book.Photo" alt="">
                                    </a>
                                </div>
                                <div class="content">
                                    <a href="/exchange/book-details/@item.BookId">

                                        <h3>@item.Book.Name</h3>
                                    </a>
                                    <a href="/exchange/book-details/@item.BookId" class="btn" style=" width: -webkit-fill-available;">DETAILS</a>
                                </div>
                            </div>

                        }








                    </div>



                    <div class="swiper-button-next"></div>


                    <div class="swiper-button-prev"></div>
                }
                else
                {
                    <center>
                        <h1 style="font-size: xxx-large; color: #114766">Books Not Available Yet</h1>
                        <h2>Please Wait Until We Recieve New Books</h2>

                    </center>
                }
            }
            else
            {
                <center>
                    <h1 style="font-size: xxx-large; color: #114766">Help Us Serve You Better</h1>
                    <h2>Register Your Favourite Categories</h2>
                    <a href="/Account/Register/recommended-categories/@UserManager.GetUserId(User)" class="btnt">Register Favourite Categories</a>

                </center>
            }


        }
        else
        {
        <center>
            <h1 style="font-size: xxx-large; color: #114766">No Recommended Books For You</h1>
            <h2>Please login to get recommended books</h2>
            <a href="/account/login" class="btnt">Login</a>

        </center>
        }

    </div>

</section>
<script src="/limonte-sweetalert2/sweetalert2.min.js"></script>
<script>

    $(function () {
        $("#btnwish").click(function () {
            var Id = $('#bookId').val();
            $.ajax({

                url: '?handler=AddToWishlist',
                data: { Id: Id },


            });
            Swal.fire('Successfully Added to your wishlist')

        });
        $("#btnwish2").click(function () {

            Swal.fire('You Must Login First')


        });



    });
</script>